/* body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
/*	'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
} */

body {
  font-family: "Montserrat", sans-serif;
}

#shortDesc {
  font-family: "Roboto", sans-serif;
}

/* nav{
 box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px 0px;
} */

#second-Content,#whyUs{
	/* background-image: linear-gradient(#272cba, #33388e, #3949ab); */
	background-image: linear-gradient(#272cba, #33388e,#3949ab);
	
	/* background-image: linear-gradient(#4A00E0, #8E2DE2); */

}