/* body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
/*	'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
} */

body {
  font-family: "Montserrat", sans-serif;
}

#shortDesc {
  font-family: "Roboto", sans-serif;
}

nav{
-webkit-transition: all linear  .25s ease;
-moz-transition: all linear  .25s ease;
-ms-transition: all linear  .25s ease;
-o-transition: all linear  .25s ease;
transition: all linear  .25s ease;	
}